.title {
  margin: 20px 20px 50px 20px;
}

.title span {
  color: #c82333;
}

img {
  margin: 2px;
  width: 80px;
}
.centered {
  text-align: center;
}

.bloc {
  padding: 1rem;
}

.border-top {
  border-top: 3px solid;
  margin: 1rem 9rem;
  margin-bottom: -2rem;
}

.jumbotron {
  margin: 0rem 9rem;
  color: white;
  background-color: #c82333;
}

.row {
  padding: 1rem;
  margin: 0rem 3rem;
  justify-content: center;
  font-size: 18px;
}

.button {
  margin-top: 0rem;
  text-align: center;
}

.col p {
  font-size: 20px;
}

.col h2 {
  text-transform: uppercase;
}

#errorBet {
  color: #c82333;
  font-size: 20px;
}

#gameOverScreen {
  visibility: hidden;
  text-align: center;
  color: #c82333;
  font-size: 100px;
  font-weight: 300;
  margin-top: -30rem;
}
input[type="number"] {
  height: 50px;
  width: 100px;
}

.betTitle {
  font-weight: 400;
  margin-bottom: -1rem;
}

#restartGame {
  margin-bottom: 2rem;
}

.col {
  margin: 0rem 2rem;
}
